{% include base_path %}

<!-- start custom head snippets -->

      <!-- Theme -->
<script src="{{ '/assets/js/theme.js' | relative_url }}"></script>

      <!-- Main Icons -->
<link rel="icon" type="image/png" href="{{ base_path }}/images/fav-2/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="icon" type="image/png" href="{{ base_path }}/images/fav-2/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/images/fav-2/android-chrome-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="icon" type="image/png" href="{{ base_path }}/images/fav-2/favicon-512x512.png?v=M44lzPylqQ" sizes="512x512">
<link rel="shortcut icon" href="/images/fav-2/favicon.ico?v=M44lzPylqQ">
<link rel="manifest" href="{{ base_path }}/images/fav-2/site.webmanifest?v=M44lzPylqQ">

      <!-- Alt-Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/fav-3/apple-touch-icon.png?v=M44lzPylqQ">
<link rel="mask-icon" href="{{ base_path }}/images/fav-3/safari-pinned-tab.svg?v=M44lzPylqQ" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="msapplication-config" content="{{ base_path }}/images/fav-3/browserconfig.xml?v=M44lzPylqQ">

<meta name="theme-color" content="#ffffff">

      <!-- Academic Icons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

      <!-- Mathjax config -->
<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

      <!-- Animate.css + (wow.js & activation)  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script> new WOW().init(); </script>

<!-- end custom head snippets -->

<!-- In original file; unsure if needed or usable -->

      <!-- 
<link rel="apple-touch-icon" sizes="57x57" href="{{ base_path }}/images/fav-2/apple-touch-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="{{ base_path }}/images/fav-2/apple-touch-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="{{ base_path }}/images/fav-2/apple-touch-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="{{ base_path }}/images/fav-2/apple-touch-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="{{ base_path }}/images/fav-2/apple-touch-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="{{ base_path }}/images/fav-2/apple-touch-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="{{ base_path }}/images/fav-2/apple-touch-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="{{ base_path }}/images/fav-2/apple-touch-icon-152x152.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="{{ base_path }}/images/fav-2/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
      -->
