{%- comment -%} ---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
pg_link: "https://catalog.uoregon.edu/courses/crs-ec/"
--- {%- endcomment -%}

{% include base_path %}

{% comment %}
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
{% endcomment %}

<h2> As an Instructor of Record </h2>
<ul>
  {% for course in site.data.teaching.IOR %}
    <li> 
      <h3> {{ course.title }} (<a href={{ page.pg_link }}>{{ course.number }}</a>) </h3>

    </li>
  {% endfor %}

</ul>

<h2> TA Positions </h2>
  {% for course in site.data.teaching.IOR %}
    <li> 
      <h3> {{ course.title }} (<a href={{ page.pg_link }}>{{ course.number }}</a>) </h3>

    </li>
  {% endfor %}


