---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include_cached head.html %}
    {% include_cached head/custom.html %}
  </head>

  <body>

    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include_cached footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% if site.analytics %}
      {% include scripts.html %}
    {% else %}
      <script src="{{ base_path }}/assets/js/main.min.js"></script>
    {% endif %}

  </body>
</html>
